---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Trey's Site</title>
  </head>
  <body>
    <h1>Hello, my name is Trey 👋</h1>
    <p>This is my first Astro website!</p>
  </body>
</html>